<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header::header('分类管理')"></head>
<body class="m-background">
<!--导航-->
<div th:replace="commons/navigator::adminnavigator"></div>
<div class="ui inverted attached pointing menu">
    <div class="ui container">
        <div class="right  menu">
            <a th:href="@{/admin/types/input}" class=" item">新增</a>
            <a th:href="@{/admin/types}" class="red active item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container-small m-padded-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <table class="ui compact red table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.name}">默认分类</td>
                <td>
                    <a th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui  red  button">编辑</a>
                    <a th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui  red  button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/types(page=${page.number}-1)}" class="item"
                           th:unless="${page.first}">上一页</a>
                        <a th:href="@{/admin/types(page=${page.number}+1)}" class="item"
                           th:unless="${page.last}">下一页</a>
                    </div>
                    <a th:href="@{/admin/types/input}" class="ui right floated red button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="m-container-small m-padded-extra"></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<div th:replace="commons/footer::footer"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>